%section.error-page
  .container
    %h1=@code
    %p Hi, partner! There is no offers and requests. Follow the links below!
    .btn-block
      %a.btn.btn__transparent{:href => "https://globsupplies.com/marketplace#"} << Go to marketplace
      %a.btn.btn__transparent{:href => "/"} << Back to main page
