.purchase-order {
  display: flex;
  align-items: center;
  max-width: 330px;
  margin-left: 10px;
  padding: 10px;
  color: $white;
  background: url("~assets/img/small_gradient_bg.png") no-repeat;
  background-size: cover;
  border-radius: 5px;
  &__mobile {
    margin: 10px;
    .purchase-order {
      margin: 0;
    }
  }
  p {margin: 0;}
  > div {
    flex: 1;
  }
  .status {
    font-size: 10px;
  }
  .left {
    max-width: 120px;
  }
  .btn-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    padding-left: 10px;
    border-left: 1px solid $white;
  }
  .btn {
    width: 47%;
    padding: 2px 0;
    font-size: 14px;
    color: $white;
    border-color: $white;
    opacity: 1;
    &.disabled {
      opacity: .25;
      &:hover,
      &:focus {
        box-shadow: none;
      }
    }
    &__upload {
      width: 100%;
    }
  }
  @media (max-width: 991.98px) {
    max-width: none;
  }
}
