$white: #fff;
$black: #000;

$bg_grey: #F6F7F9;
$dark_grey: #969BA2;
$corp_grey: #C5CBD4;

$primary: #CD1515;
$primary2: #E51453;

$btn_pink: #FFF0F5;

$btn_gradient: linear-gradient(90deg, #CD1515 0%, #E6145F 100%);
$btn_hover: 0px 8px 15px rgba(205, 21, 21, 0.25);
$btn_focus: inset 0px 8px 15px rgba(0, 0, 0, 0.15);

$no_img_mask: linear-gradient(90deg, #eec8ca 0%, #f2c7d8 100%);
