.offer-list,
.request-list {
  &--item {
    position: relative;
    display: flex;
    padding: 20px 0 20px 15px;
    color: $black;
    transition: all .3s ease;
    &:hover {
      color: $black;
    }
    p {margin: 0;}
    &--img {
      width: 80px;
      height: 80px;
      img {
        width: 100%;
        height: auto;
      }
    }
    &--text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 10px;
    }
    .price {
      a {color: $primary;}
    }
    .delivery-info {
      font-size: 12px;
    }
  }

  .context-menu {
    top: 10px;
    right: 20px;
  }
}
