/ begin row
%table.row
  %tr
    / begin wrapper
    %td.wrapper
      %table.twelve.columns
        %tr
          %td.last
            %h4
              %span{style:"color:black"} New offers at
              Global Supplies.
        %tr
          %td.panel
            :escaped
              %TEXT%
            %a{:href => "%MARKETPLACE_URL%"} See all
